.App {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
  text-align: center;
}

.AppSection {
  display: block;
  margin: 40px
}

.AppTitle,
.AppButton {
  margin: 20px;
  display: inline-block;
}
